<div>
    <h2 *ngIf="!!title" align="center">{{ title }}</h2>
    <input #fileInput type="file" hidden="true" (change)="onFilesSelected($event)" multiple>
    <div fx fxLayout="row" fxLayoutGap='20' fxLayoutAlign="center center">    
        <button mat-flat-button color="primary" (click)="fileInput.click()">Upload</button>
        <span>{{ lastUploadedFile?.name }}</span>
    </div>

    <mat-list *ngIf="showUploadedFiles">
        <mat-list-item *ngFor="let file of uploadedFiles">
            <div fx fxLayout="row" fxLayoutGap='20'>
                <span fxFlex>{{file.name}}</span>
                <mat-icon (click)="downloadFile(file)">download</mat-icon>
                <mat-icon (click)="removeFile(file)">delete</mat-icon>
            </div>
        </mat-list-item>
    </mat-list>
</div>